#pose-dropdown-btn:hover {
    border-color: white;
}
/* #pose-dropdown-btn:active {
    background-color: white;
} */
#pose-dropdown-btn {
    width: 400px;
}

.dropdown-toggle{
    background-color: #EB8198;
    height: 50px;
    border-radius: 20px;
    border: none !important;
    margin: 30px 0;
    color: white;
    font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif';
    font-size: 1.5rem;
}


.dropdown-container {
    display: flex;
    justify-content: center;
    font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif';
}
#pose-dropdown-btn:focus {
    background-color: #EB8198;
    color: white;
    box-shadow: none;
    font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif';
}
#pose-dropdown-btn:focus-within {
    border-color: #EB8198;
}
.dropdown-option {
    background: url('../../utils/pose_images/chair.png');
}

.dropdown-custom-menu {
    overflow: scroll;
    height: 40vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0;
    
    border-radius: 4px;
}

.dropdown-custom-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-item-container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB8198;
    font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif';
    color: white;
    font-size: 1rem;
}

.dropdown-item-1 {
    margin: 10px;
}
.dropdown-img {
    width: 80px;
    height: 80px;
}