
.unity-excercise{    
    width: 600px;
    height: 400px;
}
.performance-container{
    justify-content:space-between;
    padding-right: 600px;
    margin-bottom: 30px;
}
.exercise-container{
    display: flex;
    justify-content: space-evenly;
}
.webcam-container{
    position: relative;
}
.record-container{
    position: absolute;
    background-color: #FDE5A4;
    border-radius: 50px;
    padding: 10px;
    top: 80px;
    font-size: 16px;
    width: 160px;
    left: 150px;
}
.record-container h4{
    font-size: 16px;
}