
.unity-excercise{    
    width: 600px;
    height: 400px;
}
.performance-container{
    justify-content:space-between;
    width: 100%;
    margin-bottom: 30px;
}
.sg{
    background-color: #24a07f!important;
}
.cn{
    background-color: #a70b2c!important;
}
.exercise-container{
    display: flex;
    justify-content: space-evenly;
}
.webcam-container{
    position: relative;
    margin-top:50px;
}
.record-container{
    display:none;
    position: absolute;
    background-color: #c2d9d9;
    color: rgba(0,0,0,.7)!important;
    border-radius: 50px;
    padding: 10px;
    top: 80px;
    font-size: 16px;
    width: 160px;
}
.record-container h4{
    font-size: 1rem;
    color: rgba(0,0,0,.7)!important;
}
.timeButton{
    background-color: transparent;
    border: none;
}
.timer{
    display: flex;
    min-width: 300px;
    justify-content: center;
}